---
import { getCollection } from 'astro:content';
import BaseLayout from '../layouts/BaseLayout.astro';
import BlogPost from '../components/BlogPost.astro';
import srcImage from '../assets/alt-light_flowers.jpg';
import {Image} from 'astro:assets';
const allPosts = await getCollection('blog');
const pageTitle = "blog";
---

<BaseLayout pageTitle={pageTitle}>
    <!-- <img src={srcImage.src} /> -->
    <Image src={srcImage} alt="yellow and purple flowers laying on reflective table with dark background" height={275} />
   
	<style>
        ul {
            list-style-type: none;
            padding: 0;
        
        }
        a {
            text-decoration: wavy underline;
            color: rgb(255, 0, 238);
        }
    </style>
        <p>this is my "blog" page that's really going to be where each project will be housed </p>
        <ul>
            {
            allPosts.map((post: any) => (
            <BlogPost url={`/posts/${post.id}/`} title={post.data.title} />))
            }
		</ul>
</BaseLayout>
